version: '3.9'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: tsg68_app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
