$tsgRed: rgb(209, 10, 27);

@mixin headings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

div {
  @include headings {
    font-family: "Bebas Neue";
  }
}

@include headings {
  font-family: "Bebas Neue";
}

div,
p,
a {
  font-family: "Montserrat";
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.image-container {
  span {
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }

    position: unset !important;
  }

  width: 100%;
}

@media(min-width: 992px) {
  #topCollapse {
    display: none !important;
  }
}

@media(max-width:993px) {
  #alternate {
    display: none !important;
  }
}

#alternate {
  display: flex;
  flex: 1;
}