div.h1,
div.h2,
div.h3,
div.h4,
div.h5,
div.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue";
}

div,
p,
a {
  font-family: "Montserrat";
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.image-container {
  width: 100%;
}

.image-container>span {
  position: unset !important;
}

.image-container>span>.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}